.flip-container {
  perspective: 1000px;
  position: absolute;
  left: 0;
}

.flip-container:hover .flap {
  transform: rotateX(-180deg);
}


.flip-container, .top, .bottom {
  width: 70px;
  height: 50px;
}

.flap {
  position: relative;
  transform-origin: 100% 51px;
  color: white;
  transform-style: preserve-3d;

}

.flap.animate {
  transition: 0.6s;
}

.bottom {
  transform: rotateX(180deg);
}

.flap {
  font-size: 72px;
  color: white;
  font-family: Helvetica;
}

.top, .bottom {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow-y: hidden;
}

.bottom span {
  position: absolute;
  top: -39px;
}
.top span {
  position: absolute;
  bottom: -46px;
}

.flaps {
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
  position: absolute;
}
